body {
    background-color: rgb(94, 176, 204);
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
  }

.Navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff8400;
}

.Navbar ul li {
  float: left;
}

.Navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navbar ul li a:hover {
  background-color: #111111;
}

#Current{
  background-color: #7e4100;
}

.Heading {
  font-size: 25px;
  background-color: rgb(20, 0, 167);
  padding-left: 4px;
  }

main{
  background-color: red;
  padding-left: px;
}

footer{
  background-color: green;
  padding-left: 4px;
}

.HeadingLine {
  max-width: 600px;
  }

.BodyLine {
  max-width: 600px;
  }

ol {
  list-style-position: inside;
  background-color: rgba(0, 0, 0, 0.246);
  border-radius: 10px;
}

img {
  align-items: center;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.GalleryImages img{
  min-width: 500px;
  height: auto;
}

a {
  color: rgb(255, 255, 255);
}

.Container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: orange;
  padding: 10px;
  gap: 5px;
  gap: 10px;
}

.Container div{
  background-color: White;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 25px;
  text-align: center;
}

.Container img{
  height: 50px;
  width: auto;
}

.Div1{
  grid-row: span 2;
}

.Div10{
  grid-column: span 2;
}

@media screen and (min-width: 480px) and (max-width: 599px){
  body {
    background-color: lightgreen;
  }
}

@media  screen and (min-width: 200px) and (max-width: 479px){
  body{
    background-color: aqua;
  }
}

@media screen and (min-width: 600px) and (max-width: 999px){
  body{
    background-color: red;
  }
}

@media screen and (min-width: 1000px){
  body{
    background-color: rgb(94, 176, 204);
  }
}