body {
    background-color: rgb(94, 176, 204);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
  }

.Heading {
  font-size: 25px;
  color: rgb(255, 255, 255);
  }

.HeadingLine {
  max-width: 600px;
  }

.BodyLine {
  max-width: 600px;
  }

.Mihi {
  color: rgb(255, 255, 255);
  }

.About {
  color: rgb(255, 255, 255);
  
}

.Subjects {
  color: rgb(255, 255, 255);
  list-style-position: inside;
}

img {
  align-items: center;
  max-width: 300px;
  height: auto;
}

.GalleryImages img{
  min-width: 500px;
  height: auto;
}