body {
    background-color: rgb(94, 176, 204);
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
  }

.Heading {
  font-size: 25px;
  background-color: red;
  padding-left: 4px;
  }

main{
  background-color: rgb(85, 55, 0);
  padding-left: 4px;
}

footer{
  background-color: green;
  padding-left: 4px;
}

.HeadingLine {
  max-width: 600px;
  }

.BodyLine {
  max-width: 600px;
  }

ol {
  list-style-position: inside;
  background-color: rgba(0, 0, 0, 0.246);
  border-radius: 10px;
}

img {
  align-items: center;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.GalleryImages img{
  min-width: 500px;
  height: auto;
}

a {
  color: rgb(255, 255, 255);
}

.Container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: orange;
  padding: 10px;
  gap: 5px;
}

.Container div{
  background-color: green;
  color: white;
  padding: 15px;
  border: px;
  font-size: 30px;
  text-align: center;
}